In [44]:
import pandas as pd

In [45]:
path = "C:/Users/user/Desktop/K-Digital Project 002/K_Digital_02/kkh3363/분석 자료/개발자2/New_Data/"

data = pd.read_csv(path + 'merged_orig_data.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_10348\3090845383.py:3: DtypeWarning: Columns (11,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(path + 'merged_orig_data.csv')

In [46]:
data.head(3)

,SEQ_NO,RANK_CO,INPT_DE,ISBN_THIRTEEN_NO,BOOK_TITLE_NM,AUTHR_NM,BOOK_INTRCN_CN,PUBLISHER_NM,PBLICTE_DE,BOOK_IMAGE_NM,...,AREA_NM,SEXDSTN_FLAG_NM,VLM_NM,ANALS_LON_TOT_CO,yes24_Sale,yes24_Score,yes24_Price,kyobo_Price,kyobo_Score,kyobo_Sale
0,263404341,869,2021-03-16,9788972915782,군주론,저자: 니콜로 마키아벨리 ;김경희,마키아벨리 전공 학자가 번역에 참여한 &lt;군주론&gt;의 이탈리아어 원전 번역판...,까치,2015,http://image.aladin.co.kr/product/5320/66/cove...,...,NaN,남성,NaN,252200,"7,110",9.3,"9,000",9000,9.63,216
1,263260363,446,2021-03-16,9788972915782,군주론,저자: 니콜로 마키아벨리 ;김경희,마키아벨리 전공 학자가 번역에 참여한 &lt;군주론&gt;의 이탈리아어 원전 번역판...,까치,2015,http://image.aladin.co.kr/product/5320/66/cove...,...,NaN,남성,NaN,14983,"7,110",9.3,"9,000",9000,9.63,216
2,263323418,857,2021-03-16,9788972915782,군주론,저자: 니콜로 마키아벨리 ;김경희,마키아벨리 전공 학자가 번역에 참여한 &lt;군주론&gt;의 이탈리아어 원전 번역판...,까치,2015,http://image.aladin.co.kr/product/5320/66/cove...,...,NaN,남성,NaN,86373,"7,110",9.3,"9,000",9000,9.63,216

In [47]:
data['BOOK_IMAGE_NM'].duplicated().sum()

727682

In [48]:
print(f"중복된 책을 삭제할 경우 : {data.shape[0]} -> {data.shape[0] - data['BOOK_IMAGE_NM'].duplicated().sum()}")

중복된 책을 삭제할 경우 : 756007 -> 28325

In [49]:
copy_data = data.copy(deep = True)

In [50]:
data = data.drop_duplicates(subset = ['BOOK_IMAGE_NM'])

In [51]:
data['BOOK_IMAGE_NM'].duplicated().sum()

0

In [53]:
data = data.drop_duplicates(subset = ['BOOK_TITLE_NM'])

In [54]:
data['BOOK_TITLE_NM'].duplicated().sum()

0

In [56]:
data.to_csv(path + 'merged_orig_data_drop_duplicates.csv' , index = False)